.experience-timeline {
  position: relative;
  margin-top: 2rem; 
  padding-left: 2rem;

  &::before {
    content: '';
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255, 255, 255, 0.18);
  }
}

.experience-item {
  display: grid;
  grid-template-columns: 36px 1fr; 
  gap: 2rem; 
  margin-bottom: 3rem; 
}


.timeline-dot {
  width: 12px;
  height: 12px;
  background: #aba6a6;
  border-radius: 50%;
  margin-top: 0.6rem;
  margin-left: -1rem;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.2rem;
  gap: 1rem; 
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

.company {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.company-text {
  display: flex;
  gap: 0.2rem; 
  flex-direction: column;
}

.company-logo {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.company-name {
  margin: 0;
  font-size: 1.55rem;
  font-weight: 600;
  color: color-mix(in srgb, #ebf8e1 50%, #f69d3c 50%);
}

.role {
  margin: -0.5rem 0 0;
  font-size: 1.05rem;
  color: rgba(255, 255, 255, 0.85);
}


.date {
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.75);
}

.mode {
  font-size: 0.75rem;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-weight: 500;

  &.remote {
    background: rgba(36, 171, 255, 0.22);
    color: #b7e1ff;
  }

  &.onsite {
    background: rgba(255, 120, 140, 0.22);
    color: #ffc1cd;
  }
}

.details li {
  position: relative;
  padding-left: 1.2rem;
  margin-bottom: 0.6rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  color: rgba(255, 255, 255, 0.75);

  &::before {
    content: "–";
    position: absolute;
    left: 0;
    color: rgba(255, 255, 255, 0.6);
  }
}



@media (max-width: 768px) {
  .experience-header {
    flex-direction: column;
    gap: 0.5rem; 
  }

  .meta {
    align-items: flex-start;
  }

  .experience-item {
    gap: 1.5rem; 
    }

  .details li {
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
  }

  .company-name {
    font-size: 0.95rem;
    margin: -0.25rem 0 0 ;
  }

  .role {
    font-size: 0.90rem;
  }
}

